<div class="large-container">
    <div class="write-container">
        <h5>Amazing Platform:<br>Best For Online<br> Conference Video</h5>
        <p>By using this website platform everyone can connect to<br>each other quickly and easily</p>
        <button class="get_start" id="start"><a href="/users/signin">Get Started</a></button>
    </div>
    <div class="mycontainer">
        {{#each cardgrid1}}
            <div class="row col-md-8 offset-md-4">
                {{#each this}}
                    <div class="col-md-12">
                        <figure class="figure">
                            <img src={{this.imagepath}} class="figure-img img-fluid rounded" alt="...">
                            <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
                        </figure>
                    </div>
                {{/each}}

            </div>
        {{/each}}


        {{#each cardgrid2}}
            <div class="row col-md-8 offset-md-4">
                {{#each this}}
                    <div class="col-md-6">
                        <figure class="figure">
                            <img src={{this.imagepath}} class="figure-img img-fluid rounded" alt="...">
                            <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption>-->
                        </figure>
                    </div>
                {{/each}}
            </div>
        {{/each}}


    </div>
</div>

<!--**********aيvanteges articles********-->
<div class="advantages">
    <h2>What Advanteges Of Using<br> Go To Meet?</h2>
    <p>the video Conferencing platform has advantages that most other <br>platforms do not have,this is intended so that users remain <br>comfortable when using this application </p>
</div>

<div class="advantagesphoto">
    
        <div class="row col-md-4 advantagesimg">
            
                <div class="col-md-6 bigfigure">
                    <figure class="figure">
                        <img src='/images/six.jpg' class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption">
                            <h5>Can be used in live website</h5>
                            <p>This platform can be accessed directly in the websites it is practical when used</p>
                        </figcaption>
                    </figure>
                </div>
           
        </div>


        <div class="row col-md-4 advantagesimg">
        
            <div class="col-md-6 bigfigure ">
                <figure class="figure">
                    <img src='/images/five.jpg' class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">
                        <h5>Can be used by more people</h5>
                        <p>Can be used by hundreds of people at oncein different places</p>
                    </figcaption>
                </figure>
            </div>
        
        </div>


        <div class="row col-md-4 advantagesimg">
        
            <div class="col-md-6 bigfigure ">
                <figure class="figure">
                    <img src='/images/social.png' class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">
                        <h5>Integrated in social media</h5>
                        <p>Instantly integrates with many types of social media that you often use</p>
                    </figcaption>
                    
                </figure>
            </div>
        
        </div>
    


</div>


<div class="makeEasy">

    <div class="one">
        <h2>Go To Meet makes it easy<br>for you to connect<br>with each other</h2>
        <i class="fa-solid fa-chart-simple"> </i>
    </div>  
    <div class="tow">  
        <p>A video conferencing platform that is easy and free to use<br>
        by everyone ,including you</p>
        <i class="fa-solid fa-chart-column"> </i>
        
    </div>  
     
    <div class="icons">
        <div class="col1">
        <p class="one"><i class="fa-solid fa-chart-pie"></i> Static_Join</p>
        <p class="tow"><i class="fa-solid fa-lock"></i>Security_on</p>
        <p class="three"><i class="fa-solid fa-square-arrow-up-right"></i> Best Quality</p>
        </div>
        <div class="col2">
        <p class="four"><i class="fa-solid fa-video"></i> Quality Videos</p>
        <p class="five"><i class="fa-solid fa-microphone"></i> Clear Sound</p>
        <p class="six"><i class="fa-solid fa-floppy-disk"></i> Auto Save</p>
        </div>
        <div class="col3">
        <p class="seven"><i class="fa-solid fa-people-line"></i> Many People</p>
        <p class="eight"><i class="fa-solid fa-location-dot"></i> Around The World</p>
        </div>
    </div>
    
</div>

<footer>
    <div class="footer-col1">
        <h5>Go To Meet</h5>
        <p>learn ispum dolor sit amet consecteture</p>

    </div>
    <div class="footer-col2">
        <a>HomePage</a><br>
        <a>Featured</a><br>
        <a>Use Cases</a><br>
        <a>Integration</a><br>
        <a>Pricing</a><br>
        <a>Terms and condition</a><br>
        <a> Privicy</a>
    </div>
    <div class="footer-col3">
        <a>Contact</a><br>
        <a>Social Media</a><br>
        <a>Location</a><br>
    </div>
    <div class="footer-col4">
        <a>Documentation</a><br>
        <a>Question</a><br>
        <a>Media</a><br>
    </div>
</footer>
<!--
<form action="/delete" method="post">
<input type="text" name="id">
<button type="submit">delete</button>
</form>


<i class="fa-solid fa-chart-mixed"> </i>
<i class="fa-solid fa-chart-simple"> </i>
<i class="fa-solid fa-chart-column"> </i>
-->