

<div class="offset-md-4 col-md-4 signup">
    <form name="signin" method="post">
        <h5>Sign In</h5>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="formGroupExampleInput"
                placeholder="Enter Your Email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="formGroupExampleInput2"
                placeholder="Enter Your Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
    <p>Don't have an account?<a href="/users/signup">Sign Up</a></p>
</div>

