#video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
}

video {
    border: 5px solid yellow;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
